.navBar {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:40px 80px 40px 80px;    
     background-color: #ffffff;
}

.pages {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
}

.pages a {
    letter-spacing: 1.5px;
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 200;
}

a:hover {
    border-bottom: 1.5px solid #ff7194 ;
     line-height: 1.5;
}

.active {
    border-bottom: 1.5px solid #ff7194 ;
     line-height: 1.5;
}


.logo {
    color:rgb(0, 0, 0);
    font-weight: 100;

}


.icon {
    font-size: 1.4rem;
    color: #d6d6d6;
}

.iconContainer {
    display: flex;
    gap:30px;
    align-items: center;
    justify-content: center;
}

.searchForm {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.searchInput {
  width: 100%;
  max-width: 400px;
  padding: 8px 12px;
  border-radius: 30px;
  border: 1px solid #ccc;
  font-size: 0.8em;
  font-family: "Montserrat", sans-serif;
}
